@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.Hidden ***REMOVED***
  visibility: hidden; ***REMOVED***

#navbar-Buttons ***REMOVED***
  margin-left: 750px !important;
  margin-top: 18px !important;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; ***REMOVED***

.navbar, .navbar-inverse, .navbar-fixed-top ***REMOVED***
  height: 80px; ***REMOVED***

.navbar-brand ***REMOVED***
  position: absolute;
  left: 1px;
  bottom: 60px; ***REMOVED***
  .navbar-brand h1 ***REMOVED***
    margin-left: 30px;
    font-size: 70px;
    color: #D24D57; ***REMOVED***

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited ***REMOVED***
  position: relative;
  display: block;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; ***REMOVED***

a.animated-button:link:after, a.animated-button:visited:after ***REMOVED***
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s; ***REMOVED***

a.animated-button:link:hover, a.animated-button:visited:hover ***REMOVED***
  color: #FFF;
  text-shadow: none; ***REMOVED***

a.animated-button:link:hover:after, a.animated-button:visited:hover:after ***REMOVED***
  height: 450%; ***REMOVED***

a.animated-button:link, a.animated-button:visited ***REMOVED***
  position: relative;
  display: block;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; ***REMOVED***

/* Victoria Buttons */
a.animated-button.victoria-one ***REMOVED***
  border: 2px solid #D24D57; ***REMOVED***

a.animated-button.victoria-one:after ***REMOVED***
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg); ***REMOVED***

a.animated-button.victoria-two ***REMOVED***
  border: 2px solid #D24D57; ***REMOVED***

a.animated-button.victoria-two:after ***REMOVED***
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg); ***REMOVED***

a.animated-button.victoria-three ***REMOVED***
  border: 2px solid #D24D57; ***REMOVED***

a.animated-button.victoria-three:after ***REMOVED***
  background: #D24D57;
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); ***REMOVED***

a.animated-button.victoria-three:hover:after ***REMOVED***
  height: 140%;
  opacity: 1; ***REMOVED***

a.animated-button.victoria-four ***REMOVED***
  border: 2px solid #D24D57; ***REMOVED***

a.animated-button.victoria-four:after ***REMOVED***
  background: #D24D57;
  opacity: .5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg); ***REMOVED***

a.animated-button.victoria-four:hover:after ***REMOVED***
  opacity: 1;
  height: 600% !important; ***REMOVED***

.Hidden ***REMOVED***
  visibility: hidden; ***REMOVED***

body ***REMOVED***
  padding-top: 50px;
  padding-bottom: 20px;
  background: #353535;
  color: white; ***REMOVED***

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content ***REMOVED***
  padding-left: 15px;
  padding-right: 15px; ***REMOVED***

/* Set widths on the form inputs since otherwise they're 100% wide */
input, select ***REMOVED***
  max-width: 280px; ***REMOVED***

/* Carousel */
.carousel-caption ***REMOVED***
  z-index: 10 !important; ***REMOVED***
  .carousel-caption p ***REMOVED***
    font-size: 20px;
    line-height: 1.4; ***REMOVED***

@media (min-width: 768px) ***REMOVED***
  .carousel-caption ***REMOVED***
    z-index: 10 !important; ***REMOVED*** ***REMOVED***

.dropdown ***REMOVED***
  margin-top: 30px; ***REMOVED***
