@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@import url(http://fonts.googleapis.com/css?family=Sansita+One);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700");
#rollOverText ***REMOVED***
  text-align: center; ***REMOVED***

#rollArrow ***REMOVED***
  font-size: 36px;
  font-weight: 100;
  line-height: 75px; ***REMOVED***

#rollArrow, #rollOverText ***REMOVED***
  font-family: "Nunito", sans-serif;
  font-size: 24px; ***REMOVED***

#button ***REMOVED***
  background-color: #fff; ***REMOVED***

#curved-green-button ***REMOVED***
  position: relative;
  background-color: #ccffcc;
  color: #000000;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  padding: 20px;
  height: 150px;
  width: 270px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0, 0, 0, 0.5);
  margin: 0px 0px;
  border-color: #66ff66;
  border-width: 10px;
  border-radius: 40px 100px 100px 100px;
  padding: 20px; ***REMOVED***
  #curved-green-button :active ***REMOVED***
    box-shadow: 0px 3px 0px #33CC33, 0px 3px 6px rgba(0, 0, 0, 0.9);
    position: relative;
    top: 10px; ***REMOVED***

body ***REMOVED***
  background: #303036;
  text-align: center;
  text-rendering: auto;
  font-size: 17px;
  line-height: 1.6em;
  height: 100vh;
  overflow: hidden;
  padding: 18%;
  padding-top: 25vh; ***REMOVED***

* ***REMOVED***
  box-sizing: border-box; ***REMOVED***

#boardFormSubmit ***REMOVED***
  text-decoration: none; ***REMOVED***

.button ***REMOVED***
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em 1.4em;
  padding-right: 4.7em;
  background: #009ED8;
  border: none;
  color: white;
  transition: .2s; ***REMOVED***
  .button:before, .button:after ***REMOVED***
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: .2s; ***REMOVED***
  .button:before ***REMOVED***
    background: fadeout(#000, 90%); ***REMOVED***
  .button:hover ***REMOVED***
    background: #0079a5; ***REMOVED***
  .button:active, .button:focus ***REMOVED***
    background: #002e3f;
    outline: none; ***REMOVED***

.button ***REMOVED***
  min-width: 15em; ***REMOVED***

.arrow ***REMOVED***
  background: #FE5F55; ***REMOVED***
  .arrow:hover ***REMOVED***
    background: #fe2f22; ***REMOVED***
  .arrow:active, .arrow:focus ***REMOVED***
    background: #b90c01; ***REMOVED***
  .arrow:after ***REMOVED***
    content: "\F054"; ***REMOVED***
  .arrow:hover:after ***REMOVED***
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite; ***REMOVED***

.phone ***REMOVED***
  background: #139675; ***REMOVED***
  .phone:hover ***REMOVED***
    background: #0d6952; ***REMOVED***
  .phone:active, .phone:focus ***REMOVED***
    background: #083b2e; ***REMOVED***
  .phone:after ***REMOVED***
    content: "\F095"; ***REMOVED***
  .phone:hover:after ***REMOVED***
    -webkit-animation: wiggle .05s alternate ease infinite;
    animation: wiggle .05s alternate ease infinite; ***REMOVED***

.email ***REMOVED***
  background: #C673B3; ***REMOVED***
  .email:hover ***REMOVED***
    background: #b74f9f; ***REMOVED***
  .email:active, .email:focus ***REMOVED***
    background: #963d82; ***REMOVED***
  .email:after ***REMOVED***
    content: "\F0E0"; ***REMOVED***
  .email:hover:after ***REMOVED***
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: .1em; ***REMOVED***

.search:after ***REMOVED***
  content: "\f002"; ***REMOVED***

.search:hover:after ***REMOVED***
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4); ***REMOVED***

@-webkit-keyframes bounceright ***REMOVED***
  from ***REMOVED***
    -webkit-transform: translateX(0); ***REMOVED***
  to ***REMOVED***
    -webkit-transform: translateX(3px); ***REMOVED*** ***REMOVED***

@-webkit-keyframes wiggle ***REMOVED***
  from ***REMOVED***
    -webkit-transform: rotate(0deg); ***REMOVED***
  to ***REMOVED***
    -webkit-transform: rotate(30deg); ***REMOVED*** ***REMOVED***

@keyframes bounceright ***REMOVED***
  from ***REMOVED***
    transform: translateX(0); ***REMOVED***
  to ***REMOVED***
    transform: translateX(3px); ***REMOVED*** ***REMOVED***

@keyframes wiggle ***REMOVED***
  from ***REMOVED***
    transform: rotate(0deg); ***REMOVED***
  to ***REMOVED***
    transform: rotate(30deg); ***REMOVED*** ***REMOVED***

#InitalButton ***REMOVED***
  position: relative;
  margin-top: 10%; ***REMOVED***

#titleScreen ***REMOVED***
  text-align: center;
  font-size: 30px;
  color: #ff6666; ***REMOVED***
  #titleScreen h1 ***REMOVED***
    font-size: 100px;
    margin-bottom: 50px; ***REMOVED***

#boardName ***REMOVED***
  border-bottom-color: #ff6666;
  border-bottom-width: 3px;
  border-style: none none dashed;
  background: #353535;
  margin-top: 30px; ***REMOVED***

#boardFormSubmit ***REMOVED***
  margin-top: 35px; ***REMOVED***
