@import 'CurvedGreenButton';
@import 'RedSumbitButton';

// My Own
#InitalButton***REMOVED***
    position: relative; 
    margin-top: 10%;
    
***REMOVED***

#titleScreen ***REMOVED***

    text-align: center;
    font-size: 30px;
    color: #ff6666;
    
    h1 ***REMOVED***
        font-size: 100px;
        margin-bottom: 50px;
***REMOVED***
    
 ***REMOVED***
 
#boardName ***REMOVED***

  border-bottom-color: #ff6666;
  border-bottom-width:3px;
  border-style:none none dashed;
  background: #353535;
  margin-top:30px;
  
 ***REMOVED***
 
 #boardFormSubmit ***REMOVED***
     margin-top:35px;
 ***REMOVED***
 
