@import '../Shared/base';

.row ***REMOVED***
    margin-top: 4%;
    width: 100%;
***REMOVED***

.BoardColumn ***REMOVED***
  /*border-right: 3px solid #f00*/
  float:left;
  width: 20%;
  min-height: 25%;
***REMOVED***

.panel-heading ***REMOVED***
    text-align: center;
***REMOVED***

.panel-body ***REMOVED***
    color: red;
***REMOVED***

.AddTask ***REMOVED***
    cursor: pointer;
***REMOVED***

