@import '../Shared/base';
@import 'Panels.scss'


.row ***REMOVED***
    margin-top: 1%;
    width: 100%;
***REMOVED***

.BoardColumn ***REMOVED***
  /*border-right: 3px solid #f00*/
  float:left;
  width: 20%;
  
***REMOVED***

