@import '../Shared/base';
@import 'Panels.scss';
@import 'Forms.scss';


.row ***REMOVED***
    margin-top: 1%;
    width: 100%;
***REMOVED***

.BoardColumn ***REMOVED***
  /*border-right: 3px solid #f00*/
  float:left;
  width: 20%;
  
***REMOVED***

.ColumnTitleSumbit ***REMOVED***
    display:block;

***REMOVED***

.NewColumnName ***REMOVED***
    width:100%;
***REMOVED***

#AddColumnButton ***REMOVED***
    font-size: 20px;
    cursor:pointer;
    color: $logo-color;
    display:inline-block;
    margin-top:2%;
    &:hover, &:visited***REMOVED***
        text-decoration:none;
        color: $logo-color;
***REMOVED***
***REMOVED***



