
// CSS to change the form for when changing the panel name;
.ColumnTitleSubmit, .TaskFormSubmit ***REMOVED***
    display:block;
    color: #000000;
***REMOVED***

.NewColumnName, .TaskContent ***REMOVED***
    width:100%;
    color: #000000;
***REMOVED***

.ColumnTitleSumbit ***REMOVED***
    display:block;

***REMOVED***

.NewColumnName ***REMOVED***
    width:100%;
***REMOVED***
