@import '../Shared/base';
$panel-body-color: #808080;
$task-font-color: #000000;

@mixin WrapLinkText ***REMOVED***
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
 ***REMOVED***

.panel-default ***REMOVED***

    margin-right:20px;

   .panel-heading ***REMOVED***
       cursor:pointer;
       background-color: $logo-color;
       text-align: center;
   ***REMOVED***
    
    
  .panel-body ***REMOVED***
      background-color: $panel-body-color;
      min-height: 30%;
  ***REMOVED***
    
***REMOVED***

.ui-draggable-dragging
***REMOVED***
    cursor: grabbing !important;
***REMOVED***

 .Task ***REMOVED***
    display: block;
    margin-bottom:20px;
    border: 3px solid $logo-color;
    border-radius: 15px;
    padding: 8px 8px;
    width: 100%;
    color: $task-font-color;
    @include WrapLinkText();
    position:relative;
    &:hover, &:visited, &:link ***REMOVED***
       text-decoration: none;
       color: $task-font-color;
       position:relative;
 ***REMOVED***

    &:hover ***REMOVED***
        background-color: #a3c2c2 !important;
        cursor:pointer;
***REMOVED***

    .EditPen ***REMOVED***
        float:right;
        position:absolute;
        left:100%;
        bottom:100%;
        margin: 0 0 -48px -29px; //Change these numbers to move the pen about in the corner
        cursor:pointer;
***REMOVED***
   
 ***REMOVED***

.AddTask:hover, .AddTask:visited, .AddTask:link ***REMOVED***
       text-decoration: none;
***REMOVED***