@import '../Shared/base';

.panel-default ***REMOVED***

    margin-right:20px;

   .panel-heading ***REMOVED***
       cursor:pointer;
       background-color: $logo-color;
       text-align: center;

       .panel-title ***REMOVED***
           position:relative;
   ***REMOVED***
   ***REMOVED***
    
  .panel-body ***REMOVED***
      background-color: $panel-body-color;
      min-height: 30%;
  ***REMOVED***
    
***REMOVED***

.ui-draggable-dragging
***REMOVED***
    cursor: grabbing !important;
***REMOVED***

 .Task ***REMOVED***
    @include TaskCSS
 ***REMOVED***

.AddTask:hover, .AddTask:visited, .AddTask:link ***REMOVED***
       text-decoration: none;
***REMOVED***

.ActiveTask ***REMOVED***

    a:hover, a:visited, a:link ***REMOVED***
       text-decoration: none;
       color: $task-font-color;
       position:relative;
 ***REMOVED***

    a:hover ***REMOVED***
        background-color: #a3c2c2 !important;
        cursor:pointer;
***REMOVED***
***REMOVED***