@import '../Shared/base';
$panel-body-color: #808080;
$task-font-color: #000000;

.panel-default ***REMOVED***

   .panel-heading, .Task, .AddTask ***REMOVED***
       cursor: pointer;
   ***REMOVED***
    
  .panel-heading ***REMOVED***
         background-color: $logo-color;
        .panel-title ***REMOVED***
            text-align: center;
***REMOVED***
***REMOVED***
    
  .panel-body ***REMOVED***
      background-color: $panel-body-color;
      min-height: 30%;

      .Task:hover, .Task:visited, .Task:link ***REMOVED***
            text-decoration: none;
            color: $task-font-color;

           
            
  ***REMOVED***

      .AddTask:hover, .AddTask:visited, .AddTask:link ***REMOVED***
           text-decoration: none;
  ***REMOVED***


  ***REMOVED***
    
***REMOVED***

 .AddTask, .Task ***REMOVED***
     display: block;
    margin: 20px 0;
    border: 3px solid $logo-color;
    border-radius: 15px;
    padding: 20px 8px;
    color: $task-font-color;

 
    
 ***REMOVED***

.AddTask:hover, .Task:hover ***REMOVED***
    background-color: #a3c2c2 !important;

***REMOVED***