@import '../Shared/base';

#MenuColumn***REMOVED***
    float:right;
    display:inline-block;
    border-left: 3px solid $logo-color;
    height:100%;

    ul ***REMOVED***
       padding: 0;
       list-style-type: none;
        li ***REMOVED***
            list-style-type:none;
            width:100%;
***REMOVED***
***REMOVED***

    .btn ***REMOVED***
        width:100%;
***REMOVED***
***REMOVED***

#BlueLabel ***REMOVED***
    background-color:blue;
    color: blue;
***REMOVED***

#PurpleLabel ***REMOVED***
    background-color:purple;
    color: purple;
***REMOVED***

#GreenLabel ***REMOVED***
    background-color:green;
    color: green;
***REMOVED***

#RedLabel ***REMOVED***
    background-color:red;
    color: red;
***REMOVED***

#YellowLabel ***REMOVED***
    background-color:yellow;
    color: yellow;
***REMOVED***