@import '../Shared/base';

#MenuColumn***REMOVED***
    float:right;
    display:inline-block;
    border-left: 3px solid $logo-color;
    height:100%;

    ul ***REMOVED***
       padding: 0;
       list-style-type: none;
        li ***REMOVED***
            list-style-type:none;
            width:100%;
***REMOVED***
***REMOVED***

    .btn ***REMOVED***
        width:100%;
***REMOVED***
***REMOVED***

.ColourLabel ***REMOVED***
    text-align:center;
    a***REMOVED***
        color:black !important;
***REMOVED***
***REMOVED***


#BlueLabel ***REMOVED***
    background-color:blue;
    a ***REMOVED***
        color: blue;
***REMOVED***
***REMOVED***

#PurpleLabel ***REMOVED***
    background-color:purple;
    a ***REMOVED***
        color: purple;
***REMOVED***
***REMOVED***

#GreenLabel ***REMOVED***
    background-color:green;
    a ***REMOVED***
       color: green;
***REMOVED***
***REMOVED***

#RedLabel ***REMOVED***
    background-color:red;
    a ***REMOVED***
      color: red;
***REMOVED***
***REMOVED***

#YellowLabel ***REMOVED***
    background-color:yellow;
    a ***REMOVED***
        color: yellow;
***REMOVED***
***REMOVED***

#OrangeLabel ***REMOVED***
    background-color:orange;
    a ***REMOVED***
    color: orange;
***REMOVED***
***REMOVED***

#LightBlueLabel ***REMOVED***
    background-color:LightBlue;
    a ***REMOVED***
        color: LightBlue;
***REMOVED***
***REMOVED***

#PinkLabel ***REMOVED***
    background-color:Pink;
    a ***REMOVED***
        color: Pink;
***REMOVED***
***REMOVED***