@***REMOVED***
    ViewData["Title"] = "Home Page";
***REMOVED***

@section  css ***REMOVED***
     <link rel="stylesheet" href="~/css/Home/CurvedGreenButton.css" />
***REMOVED***
<div id='InitalButton'>
    <br>
    <p id='rollOverText'>Come roll over me...
    <br>
    <sup id='rollArrow'>&darr;</sup></p>

    <div id="button" align="center">
    <button id='curved-green-button' data-action='submit'>
        push the button
    </button>
    </div>
</div>