@model BoardModel

@section  css ***REMOVED***
    <link rel="stylesheet" href="~/css/Board/Board.css" />
***REMOVED***

@section scripts ***REMOVED***
    <script src='~/js/Board.js'> </script>
***REMOVED***
<h1 class="BoardNameHeading">@ViewData["BoardName"] </h1>
<div class="row">

    <div class="col-md-11" id="MainColumn">
        @foreach (var column in Model.ColumnList)
***REMOVED***
            @Component.Invoke("Panel_Lists",column )
***REMOVED***
        <a id="AddColumnButton">Add a List</a>
    </div> <!-- Main Column End Div -->

    <div class="col-md-1" id="MenuColumn">
        <h1> Hello World </h1>

    </div> <!-- MenuColumn End -->

</div>