
@model Boards
@***REMOVED***
    ViewData["Title"] = "Home Page";
***REMOVED***

@section  css ***REMOVED***

    <link rel="stylesheet" href="~/css/Home/Home.css" />
***REMOVED***

@section scripts ***REMOVED***
    <script src='~/js/Home.js'> </script>
***REMOVED***

<div id='titleScreen'>
    <h1> ScrumTool </h1>
    <br>
    <form id='boardForm' asp-controller="Home" asp-action="SumbitBoardForm" method="POST">

        <label> What is your board name? </label>
        <br>
        <br>
        <input asp-for="Name" id='boardName'> 
        <br>
        <br>   
        <input type="submit" value="Continue" class="boardFormSubmit arrow">
        
    </form>
</div>