@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow ***REMOVED***
      margin-left:20px;
 ***REMOVED***

 .TaskContent ***REMOVED***
     
        border: 3px solid $logo-color ;
        border-radius: 15px ;
        padding-left:30px;
        padding-right:80%;
        font-size:20px;
        width:100%;
***REMOVED***

.EditTaskContent ***REMOVED***
    display:block;
***REMOVED***

.EditTaskContent, .TaskContent, .TaskAddLabel***REMOVED***

    &:hover, &:visited, &:link ***REMOVED***
        text-decoration:none;
        cursor:pointer;
***REMOVED***
***REMOVED***

.EditTaskContent, .TaskAddLabel ***REMOVED***
        margin-top:20px;
***REMOVED***

.LabelListDiv ***REMOVED***
     @include ListStyleNone;

***REMOVED***
