@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow ***REMOVED***
      margin-left:20px;
 ***REMOVED***

 .TaskContent ***REMOVED***
     
       /* border: 3px solid $logo-color ;
        border-radius: 15px ; */
       white-space: pre-wrap;
        padding-left:30px;
        padding-right:80%;
        font-size:20px;
        width:100%;
***REMOVED***

.EditTaskButton ***REMOVED***
    display:block;
***REMOVED***

.EditTaskButton, .TaskContent, .TaskAddLabel***REMOVED***

    &:hover, &:visited, &:link ***REMOVED***
        text-decoration:none;
        cursor:pointer;
***REMOVED***
***REMOVED***

.EditTaskButton, .TaskAddLabel ***REMOVED***
        margin-top:20px;
***REMOVED***

.LabelListDiv ***REMOVED***
     @include ListStyleNone;
***REMOVED***

.EditTaskForm ***REMOVED***
    input ***REMOVED***
        display:inline-block;
***REMOVED***
***REMOVED***

.NewTaskContent ***REMOVED***
  
  margin:5px 0;
  padding:3px;
  resize: none; 

***REMOVED***
