@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow ***REMOVED***
      margin-left:20px;
 ***REMOVED***

 .TaskContent ***REMOVED***
        font-size:22px;
        width:100%;
        p ***REMOVED***
            font-size:12px;
            display:inline;
***REMOVED***
***REMOVED***

.EditTaskButton ***REMOVED***
    display:block;
***REMOVED***

.EditTaskButton, .TaskContent, .TaskAddLabel***REMOVED***

    &:hover, &:visited, &:link ***REMOVED***
        text-decoration:none;
        cursor:pointer;
***REMOVED***
***REMOVED***

.EditTaskButton, .TaskAddLabel ***REMOVED***
        margin-top:20px;
***REMOVED***

.LabelListDiv ***REMOVED***
     @include ListStyleNone;
***REMOVED***

.EditTaskForm ***REMOVED***
    input ***REMOVED***
        display:inline-block;
***REMOVED***
***REMOVED***

.NewTaskContent ***REMOVED***
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
***REMOVED***

.TaskLabelList ***REMOVED***
    li ***REMOVED***
        div ***REMOVED***
            display:inline;
            button ***REMOVED***
                display:inline;
    ***REMOVED***
***REMOVED***
        
***REMOVED***
***REMOVED***

.CommentsDiv ***REMOVED***

    .CommentTextArea ***REMOVED***
        width:100%;
        margin-bottom: 10px;
***REMOVED***
    .ColumnFormSubmit ***REMOVED***
        display:block;

***REMOVED***
***REMOVED***

.Comment ***REMOVED***

    margin: 20px 0 5px 0;
    border: 3px solid $logo-color;
    border-radius: 15px;
    padding: 8px 8px;
    width: 100%;
    color: $task-font-color;
 
    .CommentName ***REMOVED***

        .CommentContent ***REMOVED***
            display:inline;
            font-size:12px;
 ***REMOVED***
  
***REMOVED***

    .CommentDate ***REMOVED***
        font-size:12px;
        float:right;
        
***REMOVED***

    

***REMOVED***

.ActiveComment ***REMOVED***
    &:hover ***REMOVED***
        background-color: #a3c2c2 !important;
        cursor:pointer;
***REMOVED***
***REMOVED***

.CommentOptions ***REMOVED***
     margin: 0 0 0 770px; //Change these numbers to move the pen about in the corner, top,right,bottom,left
     position:absolute;
     cursor:pointer;
***REMOVED***

