@model Tasks

@section  css ***REMOVED***
    <link rel="stylesheet" href="~/css/Task/Task.css" />
***REMOVED***

@section scripts ***REMOVED***
    <script src='~/js/Task.js'> </script>
***REMOVED***
<h2>
    @Model.TaskContent
    <p>in list @Model.ColumnName</p>
</h2>

<a>Edit Task Content....</a>

<h3>Labels</h3>

