// GOT FROM http://codepen.io/daviddarnes/pen/VLXxMa 

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700");

$button-colour: #009ED8;
$button-text: #ffffff;
$regular-text: #333;
$button-tint: fadeout(#000, 90%);
$background: #303036;

// Red Sumbit Button CSS

* ***REMOVED***
	box-sizing: border-box;
***REMOVED***

.boardFormSubmit ***REMOVED***
    text-decoration: none;
***REMOVED***

.boardFormSubmit ***REMOVED***
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: .8em 1.4em;
	padding-right: 4.7em;
	background: $button-colour;
	border: none;
	color: white;
	transition: .2s;
	 &:before,
	 &:after ***REMOVED***
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "\00a0";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;
		
		transition: .2s;
	***REMOVED***
	 &:before ***REMOVED***
		background: $button-tint;
	***REMOVED***
	 &:hover ***REMOVED***
		background: darken($button-colour, 10%);
	***REMOVED***
	 &:active,
	 &:focus ***REMOVED***
		background: darken($button-colour, 30%);
		outline: none;
	***REMOVED***
***REMOVED***

.boardFormSubmit ***REMOVED***
	min-width: 15em;
***REMOVED***

.arrow ***REMOVED***
	background: #FE5F55;
	 &:hover ***REMOVED***
		background: darken(#FE5F55, 10%);
	***REMOVED***
	 &:active,
	 &:focus ***REMOVED***
		background: darken(#FE5F55, 30%);
	***REMOVED***
	 &:after ***REMOVED***
		content: "\F054";
	***REMOVED***
	 &:hover:after ***REMOVED***
		-webkit-animation: bounceright .3s alternate ease infinite;
		animation: bounceright .3s alternate ease infinite;
	***REMOVED***
***REMOVED***

.phone ***REMOVED*** 
	background: #139675;
	 &:hover ***REMOVED***
		background: darken(#139675, 10%);
	***REMOVED***
	 &:active,
	 &:focus ***REMOVED***
		background: darken(#139675, 20%);
	***REMOVED***
	 &:after ***REMOVED***
		content: "\F095";
	***REMOVED***
	 &:hover:after ***REMOVED***
		-webkit-animation: wiggle .05s alternate ease infinite;
		animation: wiggle .05s alternate ease infinite;
	***REMOVED***
***REMOVED***

.email ***REMOVED***
	background: #C673B3;
	 &:hover ***REMOVED***
		background: darken(#C673B3, 10%);
	***REMOVED***
	 &:active,
	 &:focus ***REMOVED***
		background: darken(#C673B3, 20%);
	***REMOVED***
	 &:after ***REMOVED***
		content: "\F0E0";
	***REMOVED***
	 &:hover:after ***REMOVED***
		-webkit-animation: none;
		-webkit-transform: skew(-20deg);
		animation: none;
		transform: skew(-20deg);
		text-indent: .1em;
	***REMOVED***
***REMOVED***

.search ***REMOVED***
	 &:after ***REMOVED***
		content:"\f002";
	***REMOVED***
	 &:hover:after ***REMOVED***
		-webkit-animation: none;
		-webkit-transform: scale(1.4);
		animation: none;
		transform: scale(1.4);
	***REMOVED***
***REMOVED***


@-webkit-keyframes bounceright ***REMOVED***
	from ***REMOVED*** -webkit-transform: translateX(0); ***REMOVED***
	to   ***REMOVED*** -webkit-transform: translateX(3px); ***REMOVED***
***REMOVED***

@-webkit-keyframes wiggle ***REMOVED***
	from ***REMOVED*** -webkit-transform: rotate(0deg); ***REMOVED***
	to   ***REMOVED*** -webkit-transform: rotate(30deg); ***REMOVED***
***REMOVED***

@keyframes bounceright ***REMOVED***
	from ***REMOVED*** transform: translateX(0); ***REMOVED***
	to   ***REMOVED*** transform: translateX(3px); ***REMOVED***
***REMOVED***

@keyframes wiggle ***REMOVED***
	from ***REMOVED*** transform: rotate(0deg); ***REMOVED***
	to   ***REMOVED*** transform: rotate(30deg); ***REMOVED***
***REMOVED***